.gameplay {
	width: 1200px;
	height: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -400px 0 0 -600px;
	border: 6px outset grey;
	background: black;
}

body {
	background: url(img/wall.jpg) no-repeat center center fixed;
	background-size: cover;
}